<% provide(:title, "Contact")%>
<div class=medium-12>
    <div class="medium-5 columns">
        <h1>contact us</h1>
        <p>By email: kevinochieng548@gmail.com</p>
    </div>
    <div class="medium-7 columns">
        <%= render 'shared/message_form' %>
           </div>
