<h1> Password Reset</h1>
<p>Click the link below to reset your password: </p>
<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>The link will expire after two hours.
Ignore this email if you did not request for password reset
</p>
