.errors {
    color: red;
}
#layout {
    text-align: center;
    padding-top: 160px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: #fff;
    background-color: #5C1F3e;

}

